* {
text-align: center;
margin-bottom: 40px;
}


.foto-profil {
width: 120px;
height: 120px;
object-fit: cover;
border-radius: 50%;
margin: 15px auto;
display: block;
border: 4px solid #2e7d32;
}


/* BUTTON */
.btn {
display: inline-block;
margin-top: 15px;
background-color: #2e7d32;
color: white;
padding: 10px 20px;
border-radius: 6px;
text-decoration: none;
}


.btn:hover {
background-color: #1b5e20;
}


/* SKILLS */
.skills {
margin-top: 10px;
padding-left: 20px;
}


/* PROJECT */
.project-card {
border: 1px solid #ddd;
padding: 15px;
border-radius: 8px;
margin-top: 15px;
transition: transform 0.3s;
}


.project-card:hover {
transform: translateY(-5px);
}


/* FOOTER */
.footer {
grid-column: 1 / 3;
background-color: #333;
color: white;
text-align: center;
padding: 12px;
font-size: 0.85rem;
}


/* RESPONSIVE */
@media (max-width: 768px) {
.grid-container {
grid-template-columns: 1fr;
}
.header,
.footer {
grid-column: 1 / 2;
}
}
